* {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.8rem;
}

.container {
  width: 100%;
  background: #e9e7e7;
  height: 100vh;
}

.image-container {
  width: 70%;
  margin: 4rem auto;
}

.nav {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}

.nav-bar span {
  width: 40%;
}
